<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>IncluirCurso</display-name>
    <servlet-name>IncluirCurso</servlet-name>
    <servlet-class>br.com.cursoja.controlecursoja.controller.IncluirCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirCurso</servlet-name>
    <url-pattern>/IncluirCurso</url-pattern>
  </servlet-mapping>
  <display-name>controlecursoja</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarCurso</display-name>
    <servlet-name>IniciarAlterarCurso</servlet-name>
    <servlet-class>br.com.cursoja.controlecursoja.controller.IniciarAlterarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarCurso</servlet-name>
    <url-pattern>/IniciarAlterarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarCurso</display-name>
    <servlet-name>AlterarCurso</servlet-name>
    <servlet-class>br.com.cursoja.controlecursoja.controller.AlterarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCurso</servlet-name>
    <url-pattern>/AlterarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCurso</display-name>
    <servlet-name>ExcluirCurso</servlet-name>
    <servlet-class>br.com.cursoja.controlecursoja.controller.ExcluirCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCurso</servlet-name>
    <url-pattern>/ExcluirCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncluirProfessor</display-name>
    <servlet-name>IncluirProfessor</servlet-name>
    <servlet-class>br.com.cursoja.controlecursoja.controller.IncluirProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirProfessor</servlet-name>
    <url-pattern>/IncluirProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarProfessor</display-name>
    <servlet-name>IniciarAlterarProfessor</servlet-name>
    <servlet-class>br.com.cursoja.controlecursoja.controller.IniciarAlterarProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarProfessor</servlet-name>
    <url-pattern>/IniciarAlterarProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarProfessor</display-name>
    <servlet-name>AlterarProfessor</servlet-name>
    <servlet-class>br.com.cursoja.controlecursoja.controller.AlterarProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarProfessor</servlet-name>
    <url-pattern>/AlterarProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirProfessor</display-name>
    <servlet-name>ExcluirProfessor</servlet-name>
    <servlet-class>br.com.cursoja.controlecursoja.controller.ExcluirProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirProfessor</servlet-name>
    <url-pattern>/ExcluirProfessor</url-pattern>
  </servlet-mapping>
</web-app>